<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Styles/css")

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/modernizr")

    <style>  #loader {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) url("/Content/Images/ajax-loader.gif") 50% 50% no-repeat;
        }
    
     @@media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style>


</head>
<body class="full" background='@Url.Content("~/Content/Images/fon 1.jpg")'>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" style="font-weight: bold" class="" data-target="#" href="/page.html">
                            Ventas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("Nueva", "NewSale", "Sales")</li>
                            <li>@Html.ActionLink("Listado", "Index", "Sales")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" style="font-weight: bold" class="" data-target="#" href="/page.html">
                            Compras <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("Nueva", "CreatePurchase", "Purchases")</li>
                            <li>@Html.ActionLink("Listado", "Index", "Purchases")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" style="font-weight: bold" class="" data-target="#" href="/page.html">
                            Productos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li style="font-weight: bold;">@Html.ActionLink("Listado", "Index", "Products")</li>
                            <li style="font-weight: bold;">@Html.ActionLink("Baja Stock", "RemoveStock", "Products")</li>
                            <li style="font-weight: bold;">@Html.ActionLink("Alta Stock", "AddStock", "Products")</li>
                            <li>@Html.ActionLink("Rubros", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Marcas", "Index", "Trademarks")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div id="loader" class="text-center" style="display: none"></div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    @Scripts.Render("~/js")

    @RenderSection("scripts", required: false)
</body>
</html>
