@model IEnumerable<Sistema_Supertere.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Provider.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Provider.ProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPurchase }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPurchase }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPurchase })
        </td>
    </tr>
}

</table>
