@model Sistema_Supertere.Models.Category

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo Rubro</h2>
<hr />


@using (Html.BeginForm("Create", "Categories", null, FormMethod.Post, new { id = "createCat" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @onchange = "catexist()" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                <span id="spancategoryname" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<<Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            ecat = 0;


        });



        function catexist() {

            var options = {};
            options.url = '@Url.Action("ExCat", "Categories")';
            options.type = "GET";
            options.data = { "des": $("#CategoryName").val() };
            options.dataType = "json";
            options.success = function (data) {
                if (data) {
                    $('#spancategoryname').text("Rubro existente");
                    ecat = 1;
                } else {
                    $('#spancategoryname').text("");
                    ecat = 0;
                };

            };
            $.ajax(options);
        }

        $('#createCat').submit(function (e) {

            var x = this;
            e.preventDefault();

            if (ecat != 1) {
                x.submit();
            }

        });

    </script>
}
