@model Sistema_Supertere.Models.Customer
@{
    ViewBag.Title = "UnpaidDetails";
}

<h2>UnpaidDetails</h2>


<table class="table table-condensed table-bordered">
    <thead>
        <tr class="text-center">
           
            <th class="text-center">
                Cliente
            </th>
            <th class="text-center">
                Fecha
            </th>

        </tr>
    </thead>
    <tbody>
  
    <td class="text-center">
        @Html.DisplayNameFor(model => model.CustomerName)

    </td>
    <td class="text-center">
        @DateTime.Now.ToString()
    </td>
    </tbody>

</table>


<legend style="margin-bottom: 2px;">
    Listado Productos
</legend>
<table id="tablaprod" class="table table-condensed table-bordered" style="table-layout: fixed">
    <thead class="tableStyle">
        <tr class="text-center">
            <th class="text-left" style="width: 40%">
                Producto
            </th>

            <th class="text-center">
                Cantidad
            </th>
            <th class="text-center">
                P. Unit.
            </th>
            <th class="text-center">
                Total($)
            </th>

        </tr>
    </thead>
    <tbody id="last">
        @foreach (var item in Model.Sales)
        {
            foreach (var line in item.SaleLines)
            {
                <tr style="background-color: white">

                    <td>
                        @Html.DisplayFor(modelItem => line.Product.Trademark.TrademarkName) - @Html.DisplayFor(modelItem => line.Product.ProductDescription)
                    </td>

                    <td class="text-center">
                        @Html.DisplayFor(modelItem => line.LineQuantity)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => line.LinePrice)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => line.LineTotal)
                    </td>
                </tr>

            }
        }

    </tbody>


</table>

<legend style="margin-bottom: 2px;">
    Resumen
</legend>
<table class="table table-condensed  table-bordered">

    <thead class="">
        <tr class="text-right">
            <td class="text-center">
                Observaciones
            </td>
            <td class="text-center">
                Total
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @if (Model.Comments == "" | Model.Comments == null)
            {<text>-</text>}
            else
            {
                    @Html.DisplayFor(model => model.Comments)
                }
            </td>
            <td class="text-center">
                @Html.DisplayFor(model => model.Unpaidtotal)
            </td>
         
        </tr>

    </tbody>

</table>
<div class="text-center hidden-print">
    <a href="@Url.Action("Index", "Sales")" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp; Volver</a>
    <a onclick="print()" class="btn btn-success dialog-window2 chicle">Imprimir</a>
</div>

