@model Sistema_Supertere.Models.Product

@{
    ViewBag.Title = "Delete";
}

@if(Model.SaleLines==null || Model.SaleLines.Count() == 0) {
    <h3>¿Está seguro que desea eliminar el siguiente producto?</h3>
}
else { <h3 style="color:red">Acción no admitida. No se permite eliminar productos que tengan ventas relacionadas.</h3>}
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trademark.TrademarkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trademark.TrademarkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductState)
        </dd>

     

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if(Model.SaleLines==null || Model.SaleLines.Count() == 0) {
            <input type="submit" value="Eliminar" class="btn btn-danger"/>} 
        </div>
    }
    <a href="@Url.Action("Index")" class="btn btn-default hvr-glow" style="margin-bottom: 5px;"> << Listado</a>

</div>
