@model IEnumerable<Sistema_Supertere.Models.Product>

@{
    ViewBag.Title = "Index";
}
@if (TempData["mimsg"] != null)
{
    {
        <input id="msg" style="display: none" value="@TempData["mimsg"]" />

    }

}
<h3>Todos los Productos</h3>
<hr />
<div style="display: flex">
    <a href="@Url.Action("Create", "Products")" class="btn-sm btn-success hvr-glow" style="margin-bottom: 5px;">Nuevo Producto</a>&nbsp;&nbsp;

    <a href="@Url.Action("Index", "Products")" class="btn-sm btn-default  hvr-glow" style="margin-bottom: 5px;">Activos</a>&nbsp;&nbsp;


    <a href="@Url.Action("IndexDeac", "Products")" class="btn-sm btn-default hvr-glow" style="margin-bottom: 5px;">No activos</a>&nbsp;&nbsp;


    <a href="@Url.Action("IndexAll", "Products")" class="btn-sm btn-info active hvr-glow" style="margin-bottom: 5px;">Todos</a>&nbsp;&nbsp;


</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trademark.TrademarkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minimum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductState)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Trademark.TrademarkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minimum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductState)
            </td>

            <td>
                @if (item.ProductState == true)
                {                <a id="@("deac" + @item.IdProduct)" class="btn btn-warning btn-sm" onclick="deac(@item.IdProduct)">Desactivar</a>
                }
                else
                {                <a id="@("act" + @item.IdProduct)" class="btn btn-primary btn-sm" onclick="act(@item.IdProduct)">Activar</a>
                }

                @Html.ActionLink("Edit", "Edit", new {id = item.IdProduct}) |
                @Html.ActionLink("Details", "Details", new {id = item.IdProduct}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.IdProduct})
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>


        $(document).ready(function() {
            if ($('#msg').val() == 0) {
                toastr["info"]("Producto activado correctamente.", "Exito");
            }

            if ($('#msg').val() == 1) {
                toastr["info"]("Producto desactivado correctamente.", "Exito");
            }
           

        });



        function deac(x) {

            var options = {};
            options.url = '@Url.Action("Deactivate", "Products")';
            options.type = "POST";
            options.data = { "id": x };
            options.dataType = "json";
            options.success = function (data) {
                if (data) {

                    var url = '@Url.Action("IndexAll", "Products", new {x = 1})';
                    window.location.href = url;

                }

            };
            $.ajax(options);
        }


        function act(x) {

            var options = {};
            options.url = '@Url.Action("Activate", "Products")';
            options.type = "POST";
            options.data = { "id": x };
            options.dataType = "json";
            options.success = function (data) {
                if (data) {

                    var url = '@Url.Action("IndexAll", "Products", new {x = 0})';
                    window.location.href = url;
                }

            };
            $.ajax(options);
        }



    </script>
}


