@model IEnumerable<Sistema_Supertere.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h3 class="text-center">Productos No activos</h3>
<hr />
<div style="display: flex; margin-bottom: 5px">
    <a href="@Url.Action("Create", "Products")" class="btn-sm btn-success hvr-glow">Nuevo Producto</a>&nbsp;&nbsp;

    <a href="@Url.Action("Index", "Products")" class="btn-sm btn-default  hvr-glow">Activos</a>&nbsp;&nbsp;


    <a href="@Url.Action("IndexDeac", "Products")" class="btn-sm btn-info active hvr-glow">No activos</a>&nbsp;&nbsp;


    <a href="@Url.Action("IndexAll", "Products")" class="btn-sm btn-default hvr-glow">Todos</a>&nbsp;&nbsp;


</div>
@if (Model == null || Model.Count() == 0)

{<br/><br/><hr/>
    <h2 class="text-center text-danger">No hay productos "No activos" disponibles</h2><hr /><br /><br />}
else
{
<table id="mitabla" class="table table-condensed table-striped table-bordered ">
    <thead>

        <tr>
            <th class="enclist">
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>

            <th class="enclist">
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>


            <th class="enclist text-center">
                @Html.DisplayNameFor(model => model.PublicPrice)
            </th>

            <th class="enclist text-center">
                @Html.DisplayNameFor(model => model.Stock)
            </th>

            <th class="enclist text-center">
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th class="enclist text-center">
                Estado
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription) | @Html.DisplayFor(modelItem => item.Trademark.TrademarkName)


                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>


                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PublicPrice)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Barcode)
                </td>

                <td class="text-center">
                    <text style="color: red">Desactivado</text>
                </td>


                <td class="text-center">
                    <a id="@("act" + @item.IdProduct)" class="btn btn-primary btn-sm" onclick="act(@item.IdProduct)">Activar</a>

                    <a href="@Url.Action("Edit", new { id = item.IdProduct }))" class="btn btn-default btn-sm hvr-glow">Editar</a>
                    <a href="@Url.Action("Details", new { id = item.IdProduct }))" class="btn btn-default btn-sm hvr-glow">Detalles</a>
                    @if (item.SaleLines == null || item.SaleLines.Count() == 0)
                    {                    <a href="@Url.Action("Delete", "Products",new {id=item.IdProduct})" class="btn btn-sm btn-danger hvr-glow">Eliminar</a>
                    }
                    else
                    {                    <a class="btn btn-sm btn-danger hvr-glow" onclick="verif()">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            ////Grilla automatica//
            $("#mitabla").DataTable({
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });
        });

        function act(x) {

            var options = {};
            options.url = '@Url.Action("Activate", "Products")';
            options.type = "POST";
            options.data = { "id": x };
            options.dataType = "json";
            options.success = function (data) {
                if (data) {

                    toastr["info"]("Producto activado correctamente.", "Activación exitosa");
                    $('#act' + x).closest('tr').remove();

                }

            };
            $.ajax(options);
        }

        function verif() {

            toastr["error"]("No se permite eliminar productos con ventas asociadas.", "Acción no admitida");


        };

    </script>
}


