@using Sistema_Supertere.Models
@model Sistema_Supertere.Models.Sale

<h3 class="text-center">
    <span style="display: inline-block">Detalles:&nbsp;&nbsp;</span>
    @Html.DisplayFor(model => model.IdSale)


</h3>



<table class="table table-condensed table-bordered" style="table-layout: fixed">
    <thead>
        <tr class="text-center gradcelesteosc cabecera">
            <th class="text-center" style="width: auto">
                Tipo
            </th>
            @if (Model.SaleState == SaleState.Cuenta || Model.SaleState == SaleState.CuentaFin)
            {
                <th class="text-center">
                    Cliente
                </th> }

            <th class="text-center" style="width: auto">
                Fecha
            </th>

        </tr>
    </thead>
    <tbody>
    <td class="text-center ftb">
        @Html.DisplayFor(model => model.SaleState)


    </td>
    @if (Model.SaleState == SaleState.Cuenta || Model.SaleState == SaleState.CuentaFin)
    {
        <td class="text-center ftb">
            @Html.DisplayFor(model => model.Customer.CustomerName)


        </td>
    }
    <td class="text-center ftb">
        @Html.DisplayFor(model => model.SaleDate)

    </td>
    </tbody>
</table>





<table id="tablaprod" class="table table-condensed table-bordered" style="table-layout: fixed">
    <thead>
        <tr class="text-center gradcelestecla detalles ">
            <th class="text-center" style="width: 40%">
                Descripción
            </th>

            <th class="text-center" style="width: 19%">
                Cantidad
            </th>
            <th class="text-center" style="width: 19%">
                P. Unit.
            </th>
            <th class="text-center" style="width: 19%">
                Importe($)
            </th>

        </tr>
    </thead>
    <tbody id="last">
@foreach (var item in Model.SaleLines)
{
    <tr style="background-color: white">
        <td class="ftb">
            @Html.DisplayFor(modelItem => item.Product.Trademark.TrademarkName) - @Html.DisplayFor(modelItem => item.Product.ProductDescription)
        </td>
        <td class="ftb text-center">
            @Html.DisplayFor(modelItem => item.LineQuantity)
        </td>
        <td class="ftb text-center">
            @Html.DisplayFor(modelItem => item.LinePrice)
        </td>
        <td class="ftb text-center negrita">
            @Html.DisplayFor(modelItem => item.LineTotal)
        </td>
    </tr>

  
}
        <tr id="trtot">
            <td class="sinborde"></td>
            <td class="sinborde"></td>
            <th class="text-center gradcelesteosc tittot">TOTAL</th>
            <td class="ftot negrita text-center">
                @Html.DisplayFor(model => model.SaleTotal)
            </td>
            <td class="sinborde"></td>
        </tr>
    </tbody>
</table>
<table class="table table-condensed  table-bordered">
    <thead>
        <tr class="text-right gradcelestecla detalles">
            <th class="text-left" style="width: 40%">
                Observaciones
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="ftb">
                @if (Model.Comments == "" | Model.Comments == null)
            {<text>-</text>}
            else
            {
                    @Html.DisplayFor(model => model.Comments)
                }            </td>

        </tr>

    </tbody>

</table>

<div class="text-center hidden-print">
    <a href="@Url.Action("Index", "Sales")" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp; Volver</a>
    <a onclick="print()" class="btn btn-success dialog-window2 chicle">Imprimir</a>
</div>