@using Sistema_Supertere.Models
@model IEnumerable<Sistema_Supertere.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<h2>Listado ventas</h2>

<p>
    @Html.ActionLink("Nueva Venta", "NewSale")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
       
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    //if (item.SaleState != SaleState.Cuenta) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>



            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.IdSale}) |
                @Html.ActionLink("Details", "Details", new {id = item.IdSale}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.IdSale})
            </td>
        </tr>
    
}

</table>
