
@{
    ViewBag.Title = "NewSale";
}
<style>.select2{width: 100%!important;}
    </style>



<h3 class="text-center">
 Venta Nº&nbsp;@ViewBag.nsale
</h3>

<table class="table table-condensed table-bordered" style="table-layout: fixed">
    <thead>
        <tr class="text-center gradcelesteosc cabecera">
            <th class="text-center" style="width: 20%">
                Tipo
            </th>
            <th class="text-center">
                Cliente
            </th>
            <th class="text-center">
                Fecha
            </th>
           
        </tr>
    </thead>
    <tbody>
    <td class="text-center ftb"><select class="form-control text-right" id="salestate">
    <option value="0">Efectivo</option>
    <option value="1">Cta. Corriente</option>
    <option value="3">Tarjeta</option>
</select>
    </td>
    <td class="text-center ftb">
        <select id="customername">
            <option></option>
            @foreach (var item in ViewBag.Customers)
            {
                <option value="@item.IdCustomer">@item.CustomerName</option>
            }
        </select>
    </td>
    <td class="text-center ftb">
        <input type="date" class="panel-info form-control fina text-center" id="saledate" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="dd/mm/aaaa" style="width: auto;text-align: center;display:initial"/>
        <span id="spansaledate" class="text-danger" style="display: block"></span>

    </td>
   
    </tbody>

</table>

<table id="tablaprod" class="table table-condensed table-bordered" style="table-layout: fixed">
    <thead>
    <tr class="text-center gradcelestecla detalles ">
        <th class="text-center" style="width: 40%">
            Descripción
        </th>
      
        <th class="text-center" style="width: 19%">
            Cantidad
        </th>
        <th class="text-center" style="width: 19%">
            P. Unit.
        </th>
        <th class="text-center" style="width: 19%">
            Importe($)
        </th>
        
    </tr>
    </thead>
    <tbody id="last">
    <td class="ftb">
        <select class="js-example-basic-single sinbedit fina" style="width: 100%" id="linedescription" onchange="javacript: var valor = (this.options[selectedIndex].text).split('|')[0]; document.getElementById('shadow').value = valor; getprice(); fquantity();">
            <option></option>
            @foreach (var item in ViewBag.Products)
            {
                <option value="@item.IdProduct">@item.ProductDescription |@item.Barcode</option>
            }
        </select>
        <span id="spanlinedescription" class="text-danger" style="display: block"></span>

        <input type="hidden" id="shadow" value="">
    </td>
   
    <td class="ftb">
        <input type="number" min="0" max="9999999999" class="panel-info form-control  fina text-center" value="1" id="linequantity" onFocus="this.select()" onchange="totallinea(); valqp(this);" oninput="totallinea();valqp(this)"onkeypress="solonumerosptocoma();" />
        <span id="spanlinequantity" class="text-danger" style="display: block"></span>

    </td>
    <td class="ftb">
        <input type="number" min="0" max="9999999999" class="panel-info form-control  fina text-center" id="lineprice" onFocus="this.select()" onchange="totallinea(); valqp(this);" oninput="totallinea(); valqp(this);"onkeypress="solonumerosptocoma();" />
        <span id="spanlineprice" class="text-danger" style="display: block"></span>

    </td>
    <td class="ftb">
        <input type="text" class="panel-default text-center form-control new2 fina" value="0.00" id="linetotal" readonly="readonly" style="font-weight: bold"/>
        <span id="spanlinetotal" class="text-danger" style="display: block"></span>

    </td>
    <td class="sinborde" style="width: 5%">
        <button type="button" id="add" class="btn btn-success btn-sm" value="Agregar" style="bottom: auto"/><span class="glyphicon glyphicon-plus"></span>
    </td>
    <tr id="trtot"><td class="sinborde"></td><td class="sinborde"></td><th class="text-center gradcelesteosc tittot">TOTAL</th><td class="ftot"><input type="text" class="panel-info form-control sinb fina text-center" value="0.00" id="saletotal" placeholder="" readonly="readonly" style="font-weight: bold;border: none"/>
        <span id="spansaletotal" class="text-danger" style="display: block"></span></td><td class="sinborde"></td></tr>
    <tr>
        <td class="sinborde"></td>
        <td class="sinborde"></td>
        <th class="text-center ftb">Entrego</th>
        <td class="ftb">
            <input type="number" min="0" max="9999999999" class="panel-info form-control fina text-center" id="entrega" onFocus="this.select()" oninput="calcvuelto()" onchange="calcvuelto()" onkeypress="solonumerosptocoma();"value="0.00"></input>

        </td>
        <td class="sinborde"></td>
    </tr>
    <tr>
        <td class="sinborde"></td>
        <td class="sinborde"></td>
        <th id="titvuelto" class="text-center ftb">Vuelto</th>
        <td class="ftb">
            <input type="text" class="panel-info form-control sinb fina text-center" value="0.00" id="vuelto" placeholder="" readonly="readonly" />
            <span id="spanvuelto" class="text-danger text-center" style="display: block"></span>
        </td>
        <td class="sinborde"></td>
    </tr>
    </tbody>


</table>
<table class="table table-condensed  table-bordered">

    <thead>
    <tr class="text-right gradcelestecla detalles" >
        <th class="text-center" style="width: 40%">
            Observaciones
        </th>
       
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="ftb">
            <textarea type="text" maxlength="140" class="panel-info form-control fina" id="comments"  placeholder=""></textarea>
        </td>
       
    </tr>

    </tbody>

</table>

<div class="text-center">
    <button type="button" id="submit" class="btn btn-success btn-md" value="Guardar venta">
        Guardar
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
    <button type="button" id="imprimir" class="btn btn-success btn-md" value="Guardar venta">
        Guardar e Imprimir
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
</div>



@section Scripts{
    <script>
        function formatState(state) {
            if (!state.id) { return state.text; }
            var str = state.text;
            var after = str.substr(str.indexOf("|") + 1);
            var before = str.split('|')[0];
            var $state = $(
              '<span>'+before+'- <span class="glyphicon glyphicon-barcode"></span> '+after+'</span>'
           );
            return $state;
        };
        function formatSelection(val) {
            var str = val.text;
            var before = str.split('|')[0];
            return before;
        }

        $(document).ready(function() {
            orderItems = [];
            verifproductos = [];
            totgral = [];
            $("#customername").select2({
                width: "element",
                placeholder: "Seleccionar cliente..."
            });
            $(".js-example-basic-single").select2({
                width:"element",
                placeholder: "Seleccionar producto...",

                templateResult: formatState, templateSelection: formatSelection
            });

        });

        //////COMIENZO ADD
        //////////////////
        //////////////////
        $('#add').click(function() {

            var isValidItem = true;
            if ($('#linedescription').val().trim() == '') {
                isValidItem = false;
                $('#spanlinedescription').html('Requerido.');
            } else {
                $('#spanlinedescription').html('');
            }
            if ($('#linedescription').val().trim() == '') {
                isValidItem = false;
                $('#spanlinedescription').html('Requerido.');
            } else {
                $('#spanlinedescription').html('');
            }

            if ($('#lineprice').val().trim() == '') {
                isValidItem = false;
                $('#spanlineprice').html('Requerido.');
            } else {
                if ($('#lineprice').val().trim() == 0) {
                    isValidItem = false;
                    $('#spanlineprice').html('Debe ser mayor a 0.');

                } else {
                    $('#spanlineprice').html('');
                }
            }


            if ($('#linequantity').val().trim() == '') {
                isValidItem = false;
                $('#spanlinequantity').html('Requerido.');
            } else {
                if ($('#linequantity').val().trim() == 0) {
                    isValidItem = false;
                    $('#spanlinequantity').html('Debe ser mayor a 0.');

                } else {
                    $('#spanlinequantity').html('');
                }
            }
            if ($('#linetotal').val().trim() == '') {
                isValidItem = false;
                $('#spanlinetotal').html('Requerido.');
            } else {
                $('#spanlinetotal').html('');
            }


            if (isValidItem) {
                ////////////***********//////////
                var historial = verifproductos;
                var errorproductos = false;
                productoact = parseInt($('#linedescription').val().trim());
                $.each(historial, function() {
                    if (productoact == parseInt(this)) {
                        errorproductos = true;

                    }
                });
            }
            if (errorproductos) {
                isValidItem = false;
                bootbox.alert({
                    title: "Producto existente",
                    message: "El producto: - " + $('#shadow').val().trim() + " - ya se encuentra en el listado. ",
                    backdrop: true
                });
            }

            if (isValidItem) {
                orderItems.push({
                    IdProduct: $('#linedescription').val().trim(),
                    LinePrice: $('#lineprice').val().trim(),
                    LineQuantity: $('#linequantity').val().trim(),
                    LineTotal: $('#linetotal').val().trim(),
                    LineDescription: $('#shadow').val().trim()
                });
                verifproductos.push(
                    parseInt($('#linedescription').val().trim())
                );
                totgral.push(
                    parseFloat($('#linetotal').val().trim())
                );
                $("#linedescription").val("").trigger('change');
                $('#lineprice,#linequantity,#linetotal').val('0.00');
                $('#linequantity').val('1');

                GeneratedItemsTable();

            }


        });
        /////////////////
        /////////////////
        /////FIN ADD

        //////COMIENZO SUBMIT
        //////////////////
        //////////////////
        $('#submit').click(function() {
            var isAllValid = true;

            if ($('#saledate').val().trim() == '') {
                $('#spansaledate').html('Requerido');
                isAllValid = false;
            } else {
                $('#spansaledate').html('');
            }

            $("input[id='quantityz']").map(function () {

                if (this.value.trim() == "" || this.value == null) {
                    $(this).closest('td').find('.text-danger').html('Requerido.');
                    isAllValid = false;
                } else {
                    if (this.value.trim() == 0) {
                        $(this).closest('td').find('.text-danger').html('Debe ser mayor a 0.');

                        isAllValid = false;
                    } else {
                        $(this).closest('td').find('.text-danger').html('');

                    }
                }
            });
            $("input[id='pricez']").map(function () {

                if (this.value.trim() == "" || this.value == null) {
                    $(this).closest('td').find('.text-danger').html('Requerido.');
                    isAllValid = false;
                } else {
                    if (this.value.trim() == 0) {
                        $(this).closest('td').find('.text-danger').html('Debe ser mayor a 0.');

                        isAllValid = false;
                    } else {
                        $(this).closest('td').find('.text-danger').html('');

                    }
                }
            });
            $("input[id='totalz']").map(function () {

                if (this.value.trim() == "" || this.value == null) {
                    $(this).closest('td').find('.text-danger').html('Requerido.');
                    isAllValid = false;
                } else {
                    if (this.value.trim() == 0) {
                        $(this).closest('td').find('.text-danger').html('Debe ser mayor a 0.');

                        isAllValid = false;
                    } else {
                        $(this).closest('td').find('.text-danger').html('');

                    }
                }
            });

            renew();
            if (orderItems.length == 0) {
               
                toastr["error"]("Es necesario agregar al menos un producto para guardar la venta.");
                isAllValid = false;

            }
            if (isAllValid == false) {
                toastr["error"]("Uno o más campos son incorrectos.", "Error al guardar");
            }

            if (isAllValid) {
                bootbox.confirm({
                    message: "Está por guardar la planilla, ¿Desea continuar?",
                    buttons: {
                        confirm: {
                            label: 'Aceptar',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancelar',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result1) {

                        if (result1) {
                            var data = {
                                CustomerName: $('#customername').val().trim(),
                                SaleDate: $('#saledate').val().trim(),
                                SaleTotal: $('#saletotal').val().trim(),
                                Comments: $('#comments').val().trim(),
                                SaleState: $('#salestate').val().trim(),
                                SaleLines: orderItems
                            }

                            $(this).val('Please wait...');
                            $("#loader").show();

                            $.ajax({
                                url: '@Url.Action("NewSale", "Sales")',
                                type: "POST",
                                data: JSON.stringify(data),
                                dataType: "JSON",
                                contentType: "application/json",
                                success: function (d) {
                                    //check is successfully save to database
                                    if (d.status == true) {
                                        var url = '@Url.Action("NewSale", "Sales", new {x = 0})';
                                        window.location.href = url;
                                    } else {
                                        $("#loader").hide();

                                        bootbox.alert(d.mensaje);
                                    }
                                    $('#submit').val('Save');
                                },
                                error: function () {
                                    alert('Error. Please try again.');
                                    $('#submit').val('Save');
                                }
                            });

                        }
                    }
                });
            }

        });

        /////////////////
        /////////////////
        /////FIN SUBMIT


        function GeneratedItemsTable() {
            $('.elim').remove();
            if (orderItems.length > 0) {
                $('#orderItems').html('<span class="text-danger"></span>');
                $.each(orderItems, function(i, val) {
                    var $row = $('<tr class="elim"></tr>');

                    $row.append($('<td class="ftb"><input class="panel-info form-control sinb fina" readonly="readonly" maxlength="140" id="descz" Name="' + val.IdProduct + '"  value="' + val.LineDescription + '"></td>'));
                    $row.append($('<td class="ftb"><input type="number" class="panel-info form-control sinbedit fina text-center"  id="quantityz" maxlength="10" oninput="valqp(this);actlinetot(this)" onchange="valqp(this);actlinetot(this)" value="' + val.LineQuantity + '"><span class="text-danger"></span></td>'));
                    $row.append($('<td class="ftb"><input type="number" class="panel-info form-control sinbedit fina text-center" id="pricez" maxlength="10" oninput="valqp(this);actlinetot(this)" onchange="valqp(this);actlinetot(this)" value="' + val.LinePrice + '"><span class="text-danger"></span></td>'));
                    $row.append($('<td class="ftb"><input type="number" class="panel-info form-control sinb fina text-center" id="totalz" readonly="readonly" maxlength="10" value="' + val.LineTotal + '"><span class="text-danger"></span></td>'));

                    var $remove = $('<a style="color:red; width: 37px; text-align: center;vertical-align: -webkit-baseline-middle;"  onclick="borrarfila(this)"><span class="glyphicon glyphicon-remove"></span></a>');


                    $remove.click(function(e) {
                        e.preventDefault();
                        orderItems.splice(i, 1);
                        verifproductos.splice(i, 1);
                        renew();
                        GeneratedItemsTable();
                        calculogral();
                    });
                    $row.append($('<td class="sinborde"></td>').append($remove));
                    $('#trtot').before($row);
                    calculogral();

                });
            } else {
                $('#orderItems').html('');
            }
        }

        function renew() {
            orderItems = [];
            olinedescriptions = [];
            olineprices = [];
            olinequantities = [];
            olinetotals = [];
            oids = [];

            $("input[id='descz']").map(function() {
                olinedescriptions.push((this.value));
                oids.push((this.name));
            });
            $("input[id='quantityz']").map(function() { olineprices.push(parseFloat(this.value)) });
            $("input[id='pricez']").map(function() { olinequantities.push(parseFloat(this.value)) });
            $("input[id='totalz']").map(function() { olinetotals.push(parseFloat(this.value)) });

            for (i = 0; i < olinedescriptions.length; i++) {

                orderItems.push({
                    IdProduct: oids[i],
                    LinePrice: olineprices[i],
                    LineQuantity: olinequantities[i],
                    LineTotal: olinetotals[i],
                    LineDescription: olinedescriptions[i]

                });
            }

        }

        function borrarfila(row) {
            var a = $(row).closest('td').siblings(':first-child').text();

            toastr.warning("-" + a + "-<br/>Eliminado.", "Producto:");
            row.closest('tr').remove();
        }

        function totallinea() {
            var price = parseFloat($('#lineprice').val());
            var quantity = parseFloat($('#linequantity').val());
            var total = (price * quantity);
            document.getElementById("linetotal").value = total.toFixed(2);
        }

        function actlinetot(x) {
            var price = parseFloat($(x).closest('tr').find('#pricez').val());

            var quantity = parseFloat($(x).closest('tr').find('#quantityz').val());
            var total = (price * quantity);
            $(x).closest('tr').find('#totalz').val(total.toFixed(2));
            calculogral();
        }

        function calculogral() {
            var gral = 0;
            $("input[id='totalz']").map(function() { gral += (parseFloat(this.value)) });
            document.getElementById("saletotal").value = gral.toFixed(2);
            calcvuelto();

        }
        function calcvuelto() {
            var entrega = parseFloat($('#entrega').val());
            var tot = parseFloat($('#saletotal').val());
            var vuelto = entrega - tot;
            document.getElementById("vuelto").value = vuelto.toFixed(2);
            if (entrega >= tot) {
                $("#titvuelto").html('Vuelto');
                $("#titvuelto").removeClass('text-danger');
                $("#vuelto").removeClass('text-danger');
                $("#titvuelto").addClass('text-success');
            } else {
                $("#titvuelto").html('Saldo');
                $("#titvuelto").addClass('text-danger');
                $("#vuelto").addClass('text-danger');

            }

        }
        function valqp(x) {
            if (x.value.trim() == "" || x.value == null) {
                $(x).closest('td').find('.text-danger').html('Requerido.');
            } else {
                if (x.value.trim() == 0) {
                    $(x).closest('td').find('.text-danger').html('Debe ser mayor a 0.');
                } else {
                    $(x).closest('td').find('.text-danger').html('');

                }
            }


        }
        function fquantity() { setTimeout(function () { $("#linequantity").focus(); }, 1); }
        function getprice() {
            if ($("#linedescription").val() != "") {
                var options = {};
                options.url = '@Url.Action("Getproductdata", "Products")';
                options.type = "GET";
                options.data = { "pro": $("#linedescription").val() };
                options.dataType = "json";
                options.success = function (data) {
                    document.getElementById("lineprice").value = data;
                    totallinea();
                };
                $.ajax(options);
            }
          


        };

    </script>
}